h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}

h1 {
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    transform:scale(2,3); /* W3C */
    -webkit-transform:scale(2,3); /* Safari and Chrome */
    -moz-transform:scale(2,3); /* Firefox */
    -ms-transform:scale(2,3); /* IE 9 */
    -o-transform:scale(2,3); /* Opera */ 
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 200px;
        height: 1px;
        background: #fff;
    }
}



